body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
#Hovertypering:hover{
  filter: contrast(40%);
}
.bgimg {
  background-image: url('../img/Astronaut.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
#links{
    position: absolute;
    bottom: 8px;
    right: 16px;
}
.Hovering:hover{
  background-color: rgba(0, 0, 255, 0.795);
  background-size: 17px;
  filter: grayscale(100%);

}
.nbu:hover{
  filter: contrast(40%);
}
.clock{
  color:white;
  text-align:center;
  font-size: 20px;
}
.minecraft:hover{
  filter: contrast(40%);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px;
 }
 
 .tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #258300;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 120%;
  left: 42%;
  margin-left: -70px;
 }
 
 .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #258300 transparent;
 }
 
 .tooltip:hover .tooltiptext {
  visibility: visible;
 } 
